@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@plugin "../../tailwind-iconify4" {
    forceBrackets: false
}

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --txt0: oklch(24% 0 292);
    --txt1: oklch(40% 0 292);
    --txt2: oklch(52% 0 292);
    --txt3: oklch(64% 0 292);
    --txt4: oklch(76% 0 292);
    --txt5: oklch(88% 0 292);
    --txt6: oklch(100% 0 292);


    --bgreverse: oklch(0% 0 0);
    --bg0: oklch(100% 0 0);
    --bg1: oklch(97% 0 270);
    --bg2: oklch(95% 0 270);
    --bg3: oklch(92% 0 270);
    --bg4: oklch(89% 0 270);
    --bg5: oklch(86% 0 270);
    --bg6: oklch(83% 0 270);
    --bg-home: var(--bgreverse);
}

.dark {
    --txt0: oklch(96% 0 0);
    --txt1: oklch(80% 0 0);
    --txt2: oklch(68% 0 0);
    --txt3: oklch(56% 0 0);
    --txt4: oklch(44% 0 0);
    --txt5: oklch(32% 0 0);
    --txt6: oklch(20% 0 0);

    --bgreverse: oklch(100% 0 0);
    --bg0: oklch(0% 0 0);
    --bg1: oklch(8% 0.025 292);
    --bg2: oklch(14% 0.025 292);
    --bg3: oklch(20% 0.025 292);
    --bg4: oklch(26% 0.025 292);
    --bg5: oklch(32% 0.025 292);
    --bg6: oklch(38% 0.025 292);
    --bg-home: oklch(0.214 0.037 242.947);
}

@theme {
    --color-t0: var(--txt0);
    --color-t1: var(--txt1);
    --color-t2: var(--txt2);
    --color-t3: var(--txt3);
    --color-t4: var(--txt4);
    --color-t5: var(--txt5);
    --color-t6: var(--txt6);

    --color-xreverse: var(--bgreverse);
    --color-xhome: var(--bg-home);
    --color-x0: var(--bg0);
    --color-x1: var(--bg1);
    --color-x2: var(--bg2);
    --color-x3: var(--bg3);
    --color-x4: var(--bg4);
    --color-x5: var(--bg5);
    --color-x6: var(--bg6);
}

@layer utilities {
    .container {
        border-left: 1px solid;
        border-right: 1px solid;
        border-color: var(--bg4);
        box-sizing: border-box;
        width: 1440px;
        max-width: 100vw;
        margin: 0 auto;
    }

    @media (max-width: 1760px) {
        .container {
            width: 1120px;
        }
    }

    @media (max-width: 1220px) {
        .container {
            width: calc(100vw - 100px);
        }
    }

    @media (max-width: 570px) {
        .container {
            border-left: none;
            border-right: none;
            width: 100%;
        }
    }
}